#loginImg{
	-fx-background-image:url(img/catchmind.png);
}

#Pause{
	-fx-background-image:url(img/Pause.png);
}

#Play{
	-fx-background-image:url(img/Play.png);
}

#Stop{
	-fx-background-image:url(img/Stop.png);
}