/* css04_font.font.css */
.lblText{
	-fx-font-size:35; /* 글꼴 크기 px 단위 */
	/* 글꼴 지정  */
	-fx-font-family:"굴림, gulim, Arial Black";
	-fx-font-family:'Comforter Brush';
	-fx-font-weight:bold;	/* 글꼴의 굵기 normal bold */
	-fx-text-fill:red;
	-fx-text-fill:linear-gradient(to top, pink, red);
	-fx-text-fill:linear-gradient(to right, pink, skyblue);
	-fx-text-fill:radial-gradient(
		center 50% 50%,
		radius 50%,
		red,
		blue	
	);
}









